<!DOCTYPE html>
	<html lang="{{ .Page.Language | default "en" }}">
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style type="text/css"><!-- {{ partial "markdown.mini.css" . | safeCSS }} --></style>
	<script type="text/javascript" async
	src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async>
	</script>
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});
	</script>
	</head>
	<body>
	{{ $currentPage := . }}
	<div class="flex"><!--Last updated on {{ $.Lastmod.Format ( $.Site.Params.dateformat | default "2006”N1ŒŽ2“ú") }}
	/ Published on {{ $.PublishDate.Format ( $.Site.Params.dateformat | default "2006”N1ŒŽ2“ú") }}.
	--><article class="main-content">
	{{ .Content }}
	</article>
	</div>
	</body>
</html>
